$color-primary: #4f46e5; // синий
$color-danger: #dc2626;  // красный
$color-warning: #fbbf24; // желтый
$color-success: #16a34a; // зеленый

$font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
